/* main */
/* section1 */

body {
    overflow-x: hidden;
}
main .sections section.sec1 {
    width: 100%;
    height: 100vh;
}
main .sections section.sec1 .sec-con {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
main .sections section.sec1 .sec-con .gallery1 {
    position: absolute;
    width: inherit;
    height: inherit;
}
main .sections section.sec1 .sec-con .gallery1 ul {
    width: 600%;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
main .sections section.sec1 .sec-con .gallery1 ul li {
    flex: 1;
    position: relative;
}

main .sections section.sec1 .sec-con .gallery1 ul li.gallery1Li1 {
    background: url(../../img/index/section1_0.jpg) no-repeat 50%/cover;
}
main .sections section.sec1 .sec-con .gallery1 ul li.gallery1Li2 {
    background: url(../../img/index/section1_1.jpg) no-repeat 50%/cover;
}
main .sections section.sec1 .sec-con .gallery1 ul li.gallery1Li3 {
    background: url(../../img/index/section1_2.jpg) no-repeat 50%/cover;
}
main .sections section.sec1 .sec-con .gallery1 ul li.gallery1Li4 {
    background: url(../../img/index/section1_3.jpg) no-repeat 50%/cover;
}
main .sections section.sec1 .sec-con .gallery1 ul li .text-box {
    position: absolute;
    left: 6%;
    top: 65%;
}
main .sections section.sec1 .sec-con .gallery ul li .text-box h2 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
main .sections section.sec1 .sec-con .gallery ul li .text-box p {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    color: #222222;
    padding-bottom: 30px;
    box-sizing: border-box;
}
main .sections section.sec1 .sec-con .gallery ul li .text-box span {
    border: 1px solid;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100px;
    border-radius: 35px;
    transition: all 0.5s;
    color: #222222;
}
main .sections section.sec1 .sec-con .gallery ul li .text-box span:hover {
    background-color: #493200;
    color: #ffffff;
}
/* center-btn */

main .sections section.sec1 .sec-con span.arrow {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    /* border: 1px solid; */
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}
main .sections section.sec1 .sec-con span.arrow.Left {
    left: 0;
    transform: translate(-50%, -70%) rotate(180deg);
    background: #6b6b6b73 url(../../img/index/section1_arrow.png) no-repeat 25% 50%/auto;
}
main .sections section.sec1 .sec-con span.arrow.Right {
    right: 0;
    transform: translate(50%, -70%);
    background: #6b6b6b73 url(../../img/index/section1_arrow.png) no-repeat 25% 50%/auto;
}
/* section2 */

section.sec2 {
    /* height: 100vh; */
}
section.sec2 .sec-con {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/* left */
section.sec2 .sec-con .left-con {
    flex: 0 1 58vw;
    position: relative;
    height: 700px;
}
section.sec2 .sec-con .left-con .gallery2 {
    position: absolute;
    left: 0;
    width: 400%;
    height: inherit;
}
section.sec2 .sec-con .left-con .gallery2 ul {
    display: flex;
    justify-content: space-between;
    height: inherit;
}
section.sec2 .sec-con .left-con .gallery2 ul li {
    flex: 1;
}
section.sec2 .sec-con .left-con .gallery2 ul li.gallery2Li1 {
    background: url(../../img/index/section2_0.jpg) no-repeat 50%/cover;
}
section.sec2 .sec-con .left-con .gallery2 ul li.gallery2Li2 {
    background: url(../../img/index/section2_1.jpg) no-repeat 50%/cover;
}

/* right */

section.sec2 .sec-con .right-con {
    flex: 0 1 42vw;
    height: 700px;
}
section.sec2 .sec-con .right-con .fadeGallery2 {
    width: 90%;
    height: inherit;
    position: relative;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul {
    position: absolute;    
    width: 100%;
    height: inherit;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li {
    position: absolute;    
    width: 100%;
    height: inherit;
    display: none;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back {
    background-color: #ffffff;
    height: inherit;
    padding: 100px;
    box-sizing: border-box;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box {
    padding-top: 80px;
    box-sizing: border-box;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box p.title1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffb1b1;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li.fadeLi2 .txt-back .txt-box p.title1 {
    color: #109204;    
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box h2.title2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    padding: 10px 0 20px 0;
    box-sizing: border-box;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box p.txt1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222222;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box p.txt2 {
    font-size: 1rem;
    line-height: 1rem;
    color: #555555;
    padding: 5px 0;
    box-sizing: border-box;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box a {
    position: relative;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #222222;
    transition: all 0.5s ease-in-out;
}
section.sec2 .sec-con .right-con .fadeGallery2 ul li .txt-back .txt-box a:hover::after {
    width: 0%;
    left: 50%;
}

.fadeLiOn {
    display: block !important;
}
/* arrow2 */
section.sec2 .sec-con .right-con .fadeGallery2 span.arrow2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
    /* background: url(../../img/index/section2_arrow2.png) no-repeat 50%/cover; */
    width: 42px;
    height: 42px;
    z-index: 800;
    cursor: pointer;
}   
section.sec2 .sec-con .right-con .fadeGallery2 span.arrow2 img {
    display: block;
    width: 100%;
    height: auto;
}
/* section3 */

section.sec3 {
    background: url(../../img/index/section3_back.jpg) no-repeat 50%/cover;
    /* height: 975px; */
}
section.sec3 .inner-sec3 {
    padding: 130px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}
section.sec3 .inner-sec3 .txt-box {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    /* border: 1px solid; */
}
section.sec3 .inner-sec3 .txt-box h2.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    font-weight: 400;
    padding: 200px 0 0 0;
    box-sizing: border-box;
}
section.sec3 .inner-sec3 .txt-box p.txt {
    
}

/* gallery3 */
section.sec3 .inner-sec3 .sec-con {
    flex: 0 1 1400px;
    /* flex: 3.5; */
    /* border: 1px solid; */
    position: relative;
    height: 560px;
    overflow: hidden;
}
section.sec3 .inner-sec3 .sec-con .gallery3 {
    position: absolute;
    left: 0;
    top: 0;
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li {
    width: 420px;
    /* height: 550px; */
    /* border: 1px solid #ff0000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li:hover img {
    transform: scale(1.07);
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li .img-box {
    width: 420px;
    height: 420px;
    /* border: 1px solid; */
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li .img-box img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li .li-txt {
    padding: 50px 10px 0;
    box-sizing: border-box;
}
section.sec3 .inner-sec3 .sec-con .gallery3 ul li .li-txt p.txt {
    font-size: 1.3rem;
    font-weight: 600;
}

section.sec3 .inner-sec3 .bcon {
    position: absolute;
    left: 80px;
    bottom: 240px;
    width: 100%;
}
section.sec3 .inner-sec3 .bcon .items {
    width: calc(100% - 160px);
}
section.sec3 .inner-sec3 .bcon .items ul {
    display: flex;
    justify-content: space-between;
}
section.sec3 .inner-sec3 .bcon .items ul li {
    flex: 1;
    height: 3px;
    /* border: 1px solid; */
    background-color: #a5a5a5;
    transition: all 0.3s ease-in;
}
section.sec3 .inner-sec3 .bcon .items ul li:nth-child(1){
    background-color: #926607 !important;
}
.bconLiOn {
    background-color: #926607 !important;
}
section.sec3 .inner-sec3 .arrows3 {
    position: absolute;
    left: 80px;
    bottom: 250px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 60px;
}
section.sec3 .inner-sec3 .arrows3 span.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
section.sec3 .inner-sec3 .arrows3 span.arrow.Left {
    background: url(../../img/index/section3_arrow2.png) no-repeat 50%/cover;
}
section.sec3 .inner-sec3 .arrows3 span.arrow.Right {
    background: url(../../img/index/section3_arrow.png) no-repeat 50%/cover;
}
/* section4 */

section.sec4 {

}
section.sec4 .inner-sec4 {
    display: flex;
}
/* left */
section.sec4 .inner-sec4 .left-con {
    flex: 1;
    position: relative;
    width: 100%;
    height: 300vh;
    /* z-index: -1; */
}
section.sec4 .inner-sec4 .left-con .sticky-box {
    position: sticky;
    height: 100vh;
    top: 0;
}
section.sec4 .inner-sec4 .left-con .gallery4 {
    position: absolute;
    width: 300%;
    /* height: inherit; */
}
section.sec4 .inner-sec4 .left-con .gallery4 ul {
    display: flex;
    justify-content: space-between;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li {
    width: 50vw;
    height: 100vh;
    /* padding: calc((100vh - 698px)/2) 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li h2.title1 {
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li p.title2 {
    padding-bottom: 80px;
    box-sizing: border-box;
    color: #222222;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li .imgL-box {
    /* width: 100%; */
    width: 410px;
    height: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin: 0;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li .imgL-box.two {
    
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li .imgL-box img {
    display: block;
    width: 100%;
    height: auto;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li a {
    font-size: 1rem;
    color: #222222;
    position: relative;
    z-index: 2;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #222222;
    transition: 0.6s;
}
section.sec4 .inner-sec4 .left-con .gallery4 ul li a:hover:after {
    width: 0;
    left: 50%;
}


/* right */
section.sec4 .inner-sec4 .right-con {
    flex: 1;
    background-color: #ffffff;
    z-index: 1;
}
section.sec4 .inner-sec4 .right-con .imgR-box {
    width: 50vw;
    /* height: 100vh; */
}
section.sec4 .inner-sec4 .right-con .imgR-box img {
    display: block;
    width: 100%;
    height: auto;
}

/* section5 */
section.sec5 {
    width: 100%;
}
section.sec5 .sec-con {
    display: flex;
    justify-content: space-between;
}
section.sec5 .sec-con .left-con {
    flex: 1;
}
section.sec5 .sec-con .left-con .img-box {
    width: 100%;
    height: auto;
}
section.sec5 .sec-con .left-con .img-box img {
    display: block;
    width: 100%;
    height: auto;
}
section.sec5 .sec-con .right-con {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f2;
    /* border: 1px solid; */
    border-radius: 0 0 20% 0;
}
section.sec5 .sec-con .right-con .content-box {
    text-align: center;
}
section.sec5 .sec-con .right-con h2.title1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: #222222
}
section.sec5 .sec-con .right-con p.title2 {
    padding-bottom: 50px;
    box-sizing: border-box;
    color: #222222
}
section.sec5 .sec-con .right-con ul {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
section.sec5 .sec-con .right-con ul li:hover img {
    transform: scale(1.07);
}
section.sec5 .sec-con .right-con ul li .img-box {
    width: 100%;
    height: auto;
}
section.sec5 .sec-con .right-con ul li .img-box img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}
/* section6 */
section.sec6 {
    background-color: #f7f6f2;
}
section.sec6 .inner-sec6 {
    box-sizing: border-box;
    border-radius: 0 0 0 12%;
    background-color: #ffffff;
}
section.sec6 .inner-sec6 .sec6-content {
    padding: 100px 0 150px 0;
}
section.sec6 .inner-sec6 .txt-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px 50px 120px;
    box-sizing: border-box;
}
section.sec6 .inner-sec6 .txt-box h2.title1 {
    font-size: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
section.sec6 .inner-sec6 .txt-box p.insta {
    display: flex;
    align-items: flex-end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
section.sec6 .inner-sec6 .txt-box p.insta span {
    position: relative;
}
section.sec6 .inner-sec6 .txt-box p.insta span::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #222222;
}
section.sec6 .inner-sec6 .sec-con {
    position: relative;
    height: 400px;
}
section.sec6 .inner-sec6 .sec-con .gallery6 {
    position: absolute;
}
section.sec6 .inner-sec6 .sec-con .gallery6>ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
section.sec6 .inner-sec6 .sec-con .gallery6>ul>li {
    width: 378px;
    height: auto;
    cursor: pointer;
}
section.sec6 .inner-sec6 .sec-con .gallery6>ul>li:hover img {
    opacity: 0.7;
}
section.sec6 .inner-sec6 .sec-con .gallery6>ul>li img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
}
